[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-compressor = "*"
django-browser-reload = "*"
django-extensions = "*"
ipython = "*"
bpython = "*"
werkzeug = "*"
django-debug-toolbar = "*"
django-widget-tweaks = "*"
djlint = "*"

[dev-packages]

[requires]
python_version = "3.9"
