{% extends "_base.html" %}
{% block content %}
    <main class="flex flex-col items-center justify-center min-h-screen">
        <div class="w-1/3">
            <div class="w-full">
                <table class="table">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th></th>
                            <th>Task</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {% if object.complete == True %}
                                        <strike>{{ object.title }}</strike>
                                    {% else %}
                                        <span>{{ object.title }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="flex space-x-2">
                                        <a class="btn btn-sm btn-info" href="{% url 'todo-detail' object.id %}">View</a>
                                        <a class="btn btn-sm btn-warning"
                                           href="{% url 'todo-update' object.id %}">Update</a>
                                        <a class="btn btn-sm btn-error btn-outline"
                                           href="{% url 'todo-delete' object.id %}">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td></td>
                                <td>No objects yet.</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <div>
                                    <a class="btn btn-sm btn-primary" href="{% url 'todo-create' %}">Add +</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- pagination starts -->
            <nav class="pt-4 w-full">
                <ul class="flex justify-end w-full">
                    <li class="disabled">
                        {% if page_obj.has_previous %}
                            <li class="border border-gray-500">
                                <a class="text-blue-500 py-2 px-3 cursor-pointer"
                                   href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Prev.</a>
                            </li>
                        {% endif %}
                        {% if page_obj.number > 3 %}
                            <li class="border border-gray-500">
                                <a class="text-blue-500 py-2 px-3 cursor-pointer"
                                   href="{{ request.path }}?page=1">1</a>
                            </li>
                        {% endif %}
                        {% if page_obj.number > 4 %}
                            <li class="border border-gray-500">
                                <span class="text-blue-500 py-2 px-3 cursor-pointer">....</span>
                            </li>
                        {% endif %}
                    </li>
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="border border-gray-500 bg-white ">
                                <span class="text-black py-2 px-3">
                                    {{ i }}
                                    <span class="sr-only"></span>
                                </span>
                            </li>
                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                            <li class="border border-gray-500">
                                <a class="text-blue-500 py-2 px-3 cursor-pointer"
                                   href="{{ request.path }}?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                            <li class="border border-gray-500">
                                <span class="text-blue-500 py-2 px-3 cursor-pointer">....</span>
                            </li>
                            <li class="border border-gray-500">
                                <a class="text-blue-500 py-2 px-3 cursor-pointer"
                                   href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                            </li>
                        {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                            <li class="border border-gray-500">
                                <a class="text-blue-500 py-2 px-3 cursor-pointer"
                                   href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                            </li>
                        {% endif %}
                        <li class="border border-gray-500">
                            <a class="text-blue-500 py-2 px-3 cursor-pointer"
                               href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- pagination end -->
        </div>
    </main>
{% endblock content %}
