<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reviews</title>
</head>
<body>
	 <form method="post" action="{% url 'review' %}">
		 {% csrf_token %}
		 {% if has_error %}
		 	<p>Please enter valid user name</p>
		 {% endif %}
		 <label for="username">Your Username</label>
		 <input type="text" name='username' id='username'>
		 <button>Send</button>
	 </form>
</body>
</html>