<a href="{% url 'index' %}"
   class="font-medium {% if request.resolver_match.view_name == "index" %}text-blue-600 sm:py-6 dark:text-blue-500 {% else %}text-gray-500 hover:text-gray-400 sm:py-6 dark:text-gray-400 dark:hover:text-gray-500 {% endif %}">Home</a>
<a class="font-medium {% if request.resolver_match.view_name == "menu1" %}text-blue-600 sm:py-6 dark:text-blue-500 {% else %}text-gray-500 hover:text-gray-400 sm:py-6 dark:text-gray-400 dark:hover:text-gray-500 {% endif %}"
   href="#">Menu 1</a>
