{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block page_title %}Django + HTMX + Tailwind CSS{% endblock page_title %}</title>

		{% compress css %}
		<link rel="stylesheet" href="{% static 'src/output.css' %}" />
		<!-- HTMX start -->
		{% endcompress %} {% compress js %}
		<script type="text/javascript" src="{% static 'src/htmx.js' %}"></script>
		{% endcompress %}
		<!-- HTMX end-->
	</head>
	<body>
		{% block content %} {% endblock content %}
		<!-- HTMX start -->

		<script>
			document.body.addEventListener('htmx:configRequest', (event) => {
				event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
			});
		</script>
		<!-- HTMX end-->
	</body>
</html>
