{% for product in page_obj %}
    <div class="rounded-lg shadow-md p-6 dark:bg-gray-800">
        <h2 class="text-sm font-semibold mb-2 dark:text-white">{{ product }}</h2>
        <p class="text-gray-700 dark:text-gray-400">{{ product.description }}</p>
        <p class="text-gray-700 dark:text-gray-400">{{ product.price }}</p>
        <p class="text-gray-700 dark:text-gray-400">Stock: {{ product.stock }}</p>
    </div>
{% endfor %}
<p class="text-xs text-gray-700 dark:text-gray-300">Total Products: {{ page_obj.paginator.count }}</p>
<!-- Paginate -->
{% include 'pagination/htmx_pagination.html' %}
<div id="dynamic_filter" hx-swap-oob="true">
    {% for option_dict in options %}
        <fieldset>
            <legend class="font-bold">{{ option_dict.option }}</legend>
            {% for value in option_dict.values %}
                <div>
                    <input type="checkbox"
                           id="{{ value.name }}"
                           name="{{ option_dict.option }}"
                           value="{{ value.name }}"
                           {% if value.checked %}checked{% endif %}>
                    <label for="{{ value.name }}"
                           {% if not value.available %}class="text-gray-300 dark:text-gray-600"{% endif %}>
                        {{ value.name }}
                    </label>
                </div>
            {% endfor %}
        </fieldset>
    {% endfor %}
</div>
