{% extends "_base.html" %} {% block content %}
<h1 class="text-3xl text-blue-800">Root-level todos/templates/index.html</h1>
<a href="{% url 'index' %}" class="underline">Home</a>
<div class="w-small w-2/3 mx-auto py-10 text-gray-600" hx-ext="response-targets">
	<input
		type="text"
		name="search"
		hx-post="/todos/search"
		hx-trigger="keyup changed delay:250ms"
		hx-indicator=".htmx-indicator"
		hx-target="#todo-results"
		hx-target-5*="#serious-errors"
		hx-target-404="#not-found"
		placeholder="Search"
		class="bg-white h-10 px-5 pr-10 rounded-full text-2xl focus:outline-none"
	/>
	<span class="htmx-indicator">Searching...</span>
	<div id="serious-errors"></div>
	<div id="not-found" class="text-red-500"></div>
	<table class="border-collapse w-full">
		<thead>
			<tr>
				<th
					class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
				>
					#
				</th>
				<th
					class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
				>
					Title
				</th>
				<th
					class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
				>
					Completed
				</th>
			</tr>
		</thead>
		<tbody id="todo-results">
			{% include "todos/todo.html" %}
		</tbody>
	</table>
</div>
{% endblock content %}